<div class="main-profile">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 content-profile">
						<p class="top-icon" *ngIf="!isCustomer">{{userViewRate.amount}}€/h</p>
							<div class="row">
								<div class="col-md-3 left">
									<div class="avatar">
										<div class="main-avatar avatar-image">
											<p><img src="assets/images/img_001.png" alt=""></p>
											<div class="clearfix"></div>
											
										</div>

									</div>
									<p class="star" [starRating]='userViewObj.rating' >
											<span><i class="md-icon md-24">star</i></span>
											<span><i class="md-icon md-24">star</i></span>
											<span><i class="md-icon md-24">star</i></span>
											<span><i class="md-icon md-24">star</i></span>
											<span><i class="md-icon md-24">star</i></span>
										</p>
								</div>
								<div class="col-md-7 right">
									<p class="name">{{userViewProfile.nickname}}<span>Trans</span></p>
									<p class="address">{{userViewLocation.address}}</p> 
									<p class="address" *ngIf="!isCustomer" >Mor-Fr<span> {{userWorkingHours}}</span></p>
									<div class="row bottom">
										<div class="col-md-6">
											<a href="" >Contact</a>
										</div>
										<div class="col-md-6" *ngIf="!isCustomer">
											<a href="" data-toggle="modal" data-target=".hire-box">Hire</a>
											<!-- MODAL -->
											<div class="modal fade login-box change-profile-box hire-box " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
											  <div class="modal-dialog modal-smd" role="document">
											    <div class="modal-content">
											     	<h2 class="title_popup_pre">hire</h2>
											     	
											     	<div class="form-login">
											     		<form action="">
											     			<div class="form-group">
												     			<label for="" style="color:#4b4b4b; font-weight: 700;">When?</label>
												     			<div class="row gender">
												     				<div class="form-group">
												     					<div class="col-md-12">
													     					<input type="radio" id="male2" name="gender" > <label for="male2">Immediately</label>
													     				</div>
													     				<div class="col-md-2 col-hire">
													     					<input type="radio" id="female2" name="gender" > <label for="female2">Mo</label>
													     				</div>
													     				<div class="col-md-2 col-hire">
													     					<input type="radio" id="trans2" name="gender" > <label for="trans2" >Tu</label>
													     				</div>
													     				<div class="col-md-2 col-hire">
													     					<input type="radio" id="trans3" name="gender" > <label for="trans3" >We</label>
													     				</div>
																		<div class="col-md-2 col-hire">
													     					<input type="radio" id="trans4" name="gender" > <label for="trans4" >Th</label>
													     				</div>
																		<div class="col-md-2 col-hire">
													     					<input type="radio" id="trans5" name="gender" > <label for="trans5" >Fr</label>
													     				</div>
																		<div class="col-md-2 col-hire">
													     					<input type="radio" id="trans6" name="gender" > <label for="trans6" >Sa</label>
													     				</div>
																		<div class="col-md-2 col-hire">
													     					<input type="radio" id="trans7" name="gender" > <label for="trans7" >Su</label>
													     				</div>
																						
												     				</div>
												     				
												     			</div>
												     		</div>
												     		<div class="form-group">
												     			<label class="title" for="" style="color:#4b4b4b"> Where?</label>
												     			<input type="text" id="location" placeholder="Enter your location" class="form-control"> 
												     		</div>
												     		<div class="form-group clearfix">
												     			<label class="title" for="" style="color:#4b4b4b">How long?</label><br>
												     			<label for="" style="float:left; margin-top: 10px; margin-right: 10px;">from</label><input type="text" id="location" class="form-control" style="width:50px;float:left"> 
												     			<label for="" style="float:left; margin-top: 10px; margin-right: 10px; margin-left: 10px">to</label><input type="text" id="location" class="form-control" style="width:50px;float:left"> 
												     		</div>
												     		<div class="form-group">
												     			<label for="" style="font-weight: bold;color:#4b4b4b">Comment (optional)</label>
												     			<textarea name="" id="" rows="7" class="form-control" placeholder=""></textarea>
												     		</div>
												     			<div class="form-group payment">
												     			<label for="" style="color:#4b4b4b; font-weight: 700;">Payment option:</label>
												     			<div class="row gender">
												     				<div class="form-group">
												     					<div class="col-md-2">
													     					<input type="radio" id="cash" name="gender" > <label for="cash">Cash</label>
													     				</div>
													     				<div class="col-md-10">
													     					<input class="card" type="radio" id="card" name="gender"  disabled=""> <label for="card" >Card (not avaliableyet, comming soon!)</label>
													     				</div>					
												     				</div>
												     				
												     			</div>
												     		</div>
												     		
												     		<div class="form-group button-form">
												     			<button type="submit" class="button-hire">Send Request</button>
												     		</div>
												     	</form>
											     	</div>
											     	<div class="close">
											     		<img src="assets/images/x.png" alt="">
											     	</div>
											    </div>
											  </div>
											</div>
											<!-- END MODAL -->
											<!-- Modal -->
											 <div class="login-box modal fade" id="hire-box" role="dialog">
											    <div class="modal-dialog modal-md">
											      <div class="modal-content">
											        <div class="one item">
											        	<p><span class="image"><img src="assets/images/sending.png" alt=""></span><span>sedding your requrest</span></p>
											        </div>
											        <div class="two item">
											        	<p><i class="md-icon md-48">done</i> <span>your request is sent correctly</span></p>
											        </div>
											        <div class="close">
											     		<img src="assets/images/x.png" alt="">
											    	 </div>
											      </div>
											      
											    </div>
											  </div>																																								
										</div>
										
									</div>
										<div class="col-md-6">
											
										</div>
									<div class="favorite">
										<p><i class="md-icon md-48">favorite</i></p>
										<p  [innerText]="userViewObj.favoritesCount"></p>
									</div>
								</div>
							</div>
							<div class="more-profile">
								<p class="title">About</p>
								<p class="des">{{userViewProfile.about}}</p>
							</div>
							<div class="more-profile" *ngIf="!isCustomer">
								<p class="title">Services</p>
								<p class="des">{{userServiceMsgText}}, Don’t <br>
								ask for something I did not mention.</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="main-list-profile">
				<div class="container">
					<div class="menu-list">
						<ul>
							<li><a href="#all" class="active">All</a></li>
							<li><a href="#gallery">Gallery</a></li>
							<li><a href="#videos">Videos</a></li>
							<li><a href="#booking">Booking</a></li>
						</ul>
					</div>
					<div class="main-content-list-profile all-profile">
						<div class="row item-list" id="all">
							<div class="col-md-10 col-md-offset-1">
								<div class="row item">
									<div class="col-md-3">
										<div class="add-pic">
											<img src="assets/images/img_01.gif" alt="" >
										</div>
									</div>
									<div class="col-md-3">
										<div class="add-pic">
											<img src="assets/images/img_03.gif" alt="" >
										</div>
									</div>
									<div class="col-md-3">
										<div class="add-pic">
											<img src="assets/images/img_05.gif" alt="" >
										</div>
									</div>
									<div class="col-md-3">
										<div class="add-pic">
											<img src="assets/images/img_07.gif" alt="" >
										</div>
									</div>
								</div>
								<div class="row item">
									<div class="col-md-3">
										<div class="add-pic">
											<p class="img-gallery">
												<img src="assets/images/img_13.gif" alt="" >
											</p>
											<p><a href="">User <br>Photo</a></p>
										</div>
									</div>
									<div class="col-md-3">
										<div class="add-pic">
											<p class="img-gallery">
												<img src="assets/images/img_15.gif" alt="" >
											</p>
											<p><a href="">User <br>Photo</a></p>
										</div>
									</div>
									<div class="col-md-3">
										<div class="add-pic">
											<p class="img-gallery">
												<img src="assets/images/img_16.gif" alt="" >
											</p>
											<p><a href="">User <br>Photo</a></p>
										</div>
									</div>
									<div class="col-md-3">
										<div class="add-pic">
											<p class="img-gallery">
												<img src="assets/images/img_17.gif" alt="" >
											</p>
											<p><a href="">User <br>Photo</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row item-list " id="gallery">
						Gallery
						</div>
						<div class="row item-list " id="videos">
						Videos
						</div>
						<div class="row item-list " id="booking">
						Booking
						</div>	
					</div>
				</div>
			</div>