<h2>preference</h2> 
											     	<div class="form-login">
											     		<form action="">
												     		<div class="form-group">
												     			<label for="">Location</label>
												     			<input type="text" placeholder="Enter your location" class="form-control map-pointer" ng2-google-place-autocomplete/> 
												     		</div>
												     		<div class="form-group">
												     			<label for="age">Age range </label>
												     			<input type="hidden" id="age" class="form-control"> 
												     			<div id="slider-range"></div>
												     		</div>
												     		<div class="form-group">
												     			<label for="">Gender</label>
												     			<div class="row gender">
												     				<div class="form-group">
												     					<div class="col-md-4">
													     					<input type="radio" id="male2" name="gender" > <label for="male2">Male</label>
													     				</div>
													     				<div class="col-md-4">
													     					<input type="radio" id="female2" name="gender" > <label for="female2">FeMale</label>
													     				</div>
													     				<div class="col-md-4">
													     					<input type="radio" id="trans2" name="gender" > <label for="trans2" >Trans</label>
													     				</div>
												     				</div>
												     				<div class="form-group">
													     				<div class="col-md-4" >
													     					<input type="radio" id="orthers2" name="gender" > <label for="orthers2">Others</label>
													     				</div>
													     				<div class="col-md-4">
													     					<input type="radio" id="specifiled2" name="gender" ><label for="specifiled2">Not specifiled</label>
													     				</div>
												     				</div>
												     			</div>
												     		</div>
												     		<div class="form-group button-form">
												     			<button type="submit">Done</button>
												     		</div>
												     	</form>
											     	</div>
											     	<div data-dismiss="modal" class="close">
											     		<img src="assets/images/x.png" alt="">
											     	</div>