<div id="profilePic" class="main-avatar" [ngClass]="{'showMouseover': hidedefault }">
  <div *ngIf="spinLoader === false"> 
    <p>
      <a href="javascript:void(0);" (click)="imageClick(fileupload);">
        <span [ngClass]="{'hidedefault': hidedefault}">+Add <br>a profile <br> picture</span>
        <span class="profile-mouseover">+Add <br>a profile<br>picture</span>
      </a>
    </p>												
  </div>    
  <div class="spinner-loader" *ngIf="spinLoader === true">
    <i class="fa fa-spinner fa-3x fa-spin" aria-hidden="true"></i>
  </div>
<div class="clearfix"></div>											
</div>
<div>  
    <input type="file" #fileupload name="file" id="fileupload" (change)="fileChangeEvent($event)" style="display:none;" />
</div>

<div class="modal fade fileuploadmodel" id="fileuploadmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        <br>
        <span class="result rounded" *ngIf="data.image" >
            <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>
