<h2 class="title_popup_pre">preference</h2>
											     	<p class="under_h2" style="color:#000; margin:0px;margin-bottom: 15px;">choose who can see you</p>
											     	<div class="form-login">
											     		<form action="" (ngSubmit)="preferenceProfessionalSend()" #preferenceProfessionalForm="ngForm">
												     		<div class="form-group">
												     			<label for="">Location <span style="color:#afafaf">Everybody</span></label>
												     			<input type="text" placeholder="Enter your location" name="addressPreferenceCustomer" class="form-control map-pointer" [(ngModel)] = "addressPreferenceCustomer" (setAddress)="onAddressPreferenceCustomerChange($event)" (lat)='lat=$event' (lng)='lng=$event'  ng2-google-place-autocomplete/> 
												     		</div>
												     		<div class="form-group">
												     			<label for="age">Age range <span>{{model.ageRange.min}}</span> - <span>{{model.ageRange.max}}</span></label>
												     			<input type="hidden" id="age" class="form-control"> 
												     			<div id="slider-range"></div>
			<ion-range-slider #advancedSliderElement type="double"  data-min="21" data-max="100" (onChange)="myOnChange($event)"></ion-range-slider>
												     		</div> 

															 <div class="form-group">
												     			<label for="fees">Fees range <span>{{model.feesRange.min}}</span> - <span>{{model.feesRange.max}}</span></label>
												     			<input type="hidden" id="feesRange" class="form-control"> 
												     			<div id="slider-range"></div>
			<ion-range-slider #advancedSliderElement type="double"  data-min="25" data-max="75" (onChange)="myOnfeesRangeChange($event)"></ion-range-slider>
												     		</div> 


												     		<div class="form-group"> 
												     			<label for="">Gender <span style="color:#afafaf">All</span></label>
												     			<div class="row gender">
												     				<div class="form-group">
												     					<div class="col-md-4"  *ngFor="let option of optionsGender">
																			<input type="checkbox" id="{{option.name}}1" name="optionsGender" value="{{option.value}}"
																						[(ngModel)]="option.checked"> <label for="{{option.name}}1"> {{option.name}}</label>
											 							</div> 
													     				
												     				</div>
												     			</div>
												     		</div>
												     		<div class="form-group button-form">
												     			<button type="submit">Done</button>
												     		</div>
												     	</form>
											     	</div>
											     	<div data-dismiss="modal" class="close">
											     		<img src="assets/images/x.png" alt="">
											     	</div>