<div class="main-profile">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 content-profile">
							<div class="row">
								<div class="col-md-3 left">
									<div class="avatar">
										<div id="profilePic" class="main-avatar" [ngClass]="{'showMouseover': hidedefault }">
											<div *ngIf="spinLoader === false"> 
												<p>
												<a href="javascript:void(0);" photo-upload (onComplete)="imageUpload($event)">
													<span [ngClass]="{'hidedefault': hidedefault}">+Add <br>a profile <br> picture</span>
													<span class="profile-mouseover">+Add <br>a profile<br>picture</span>
												</a>
												</p>												
											</div>								
											<div class="spinner-loader" *ngIf="spinLoader === true">
												<i class="fa fa-spinner fa-3x fa-spin" aria-hidden="true"></i>
											</div>
											<div class="clearfix"></div>											
										</div>

									</div> 
									<p class="star">
											<span><i class="md-icon md-24 ">star</i></span>
											<span><i class="md-icon md-24 ">star</i></span>
											<span><i class="md-icon md-24 ">star</i></span>
											<span><i class="md-icon md-24 ">star</i></span>
											<span><i class="md-icon md-24 ">star</i></span>
										</p>
								</div>
								<div class="col-md-7 right">
									<p class="name">Nickname <span>Gender</span></p>
									<p class="age">Age</p>
									<p class="address">City, Country</p>
									<div class="row bottom">
										<div class="col-md-6">
											<a href="" data-toggle="modal" data-target=".change-profile-boxs">Edit profile</a>

											<div class="modal fade login-box change-profile-box change-profile-boxs" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
											  <div class="modal-dialog modal-smd" role="document">
											    <div class="modal-content">
											     	<app-edit-customer></app-edit-customer>
											    </div>
											  </div>
											</div> 
										</div>
										<div class="col-md-6">
											<a href="" data-toggle="modal" data-target=".change-preference">Change preference</a>
											<div class="modal fade login-box change-profile-box change-preference" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
											  <div class="modal-dialog modal-smd" role="document">
											    <div class="modal-content">
											     	<app-preference-customer></app-preference-customer>
											    </div>
											  </div>
											</div>
										</div>
									</div>
									<div class="favorite">
										<p><i class="md-icon md-48">favorite</i></p>
										<p>0</p>
									</div>
								</div>
							</div>
							<div class="more-profile">
								<p class="title">About</p>
								<p class="des">Add a description about you</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-list-profile fix-height-bottom">
				<div class="container">
					<div class="menu-list">
						<ul>
							<li><a href="#gallery" class="active">Gallery</a></li>
							<li><a href="#favorites">Favorites</a></li>
							<li><a href="#chats">Chats</a></li>
							<li><a href="#booking">Booking </a></li>
						</ul>
					</div>
					<div class="main-content-list-profile">
						<div class="row item-list" id="gallery">
							<div class="col-md-10 col-md-offset-1">
								<div class="row">
									<div class="col-md-3">
										<div class="add-picture">
											<p><a href="">+Add <br>a picture</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row item-list " id="favorites">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-5">
										<div class="row">
											<div class="item">
												<div class="col-md-4">
													<div class="avatar">
														<p>
															<img src="assets/images/blondprofile.png" alt="">
														</p>
													</div>
												</div>
												<div class="col-md-8">
													<div class="item-content">
														<p class="name">Nickname <span>35 poeple more like this person too</span></p>
														<p class="his-profile-text">Holly edited his profil</p>
														<p class="button">
															<a href="#">hire</a>
															<a href="#">contact</a>
														</p>
														<div class="favorite">
															<i class="md-icon md-48">favorite</i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-5 pull-right">
										<div class="row">
											<div class="item">
												<div class="col-md-4">
													<div class="avatar">
														<p>
															<img src="assets/images/blondprofile.png" alt="">
														</p>
													</div>
												</div>
												<div class="col-md-8">
													<div class="item-content">
														<p class="name">Nickname <span>35 poeple more like this person too</span></p>
														<p class="button">
															<a href="#">hire</a>
															<a href="#">contact</a>
														</p>
														<div class="favorite">
															<i class="md-icon md-48">favorite</i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5">
										<div class="row">
											<div class="item">
												<div class="col-md-4">
													<div class="avatar">
														<p>
															<img src="assets/images/blondprofile.png" alt="">
														</p>
													</div>
												</div>
												<div class="col-md-8">
													<div class="item-content">
														<p class="name">Nickname <span>35 poeple more like this person too</span></p>
														<p class="his-profile-text">Pinel Dorado added new Photos</p>
														<p class="button">
															<a href="#">hire</a>
															<a href="#">contact</a>
														</p>
														<div class="favorite">
															<i class="md-icon md-48">favorite</i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-5 pull-right">
										<div class="row">
											<div class="item">
												<div class="col-md-4">
													<div class="avatar">
														<p>
															<img src="assets/images/blondprofile.png" alt="">
														</p>
													</div>
												</div>
												<div class="col-md-8">
													<div class="item-content">
														<p class="name">Nickname <span>35 poeple more like this person too</span></p>
														<p class="button">
															<a href="#">hire</a>
															<a href="#">contact</a>
														</p>
														<div class="favorite">
															<i class="md-icon md-48">favorite</i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5">
										<div class="row">
											<div class="item">
												<div class="col-md-4">
													<div class="avatar">
														<p>
															<img src="assets/images/blondprofile.png" alt="">
														</p>
													</div>
												</div>
												<div class="col-md-8">
													<div class="item-content">
														<p class="name">Nickname <span>35 poeple more like this person too</span></p>
														<p class="button">
															<a href="#">hire</a>
															<a href="#">contact</a>
														</p>
														<div class="favorite">
															<i class="md-icon md-48">favorite</i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-5 pull-right">
										<div class="row">
											<div class="item">
												<div class="col-md-4">
													<div class="avatar">
														<p>
															<img src="assets/images/blondprofile.png" alt="">
														</p>
													</div>
												</div>
												<div class="col-md-8">
													<div class="item-content">
														<p class="name">Nickname <span>35 poeple more like this person too</span></p>
														<p class="button">
															<a href="#">hire</a>
															<a href="#">contact</a>
														</p>
														<div class="favorite">
															<i class="md-icon md-48">favorite</i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row item-list " id="chats">
							<div class="main-chats">
								<div class="col-md-6">
									<div class="row search-box">
										<div class="col-md-11">
											<div class="col-md-2">
												<p><i class="md-icon md-48">search</i></p>
											</div>
											<div class="col-md-10">
												<input type="text" class="form-control" placeholder="Search">
											</div>
										</div>
									</div>
									<div class="space-x"></div>
									<div class="row left">
										<div class="item">
											<div class="col-md-3">
												<div class="avatar">
													<p>
														<img src="assets/images/blondprofile.png" alt="">
													</p>
												</div>
											</div>
											<div class="col-md-9">
												<div class="item-content">
													<p class="name">Nickname <span>yesterday</span></p>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="col-md-3">
												<div class="avatar">
													<p>
														<img src="assets/images/blondprofile.png" alt="">
													</p>
												</div>
											</div>
											<div class="col-md-9">
												<div class="item-content">
													<p class="name">Nickname <span>yesterday</span></p>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="col-md-3">
												<div class="avatar">
													<p>
														<img src="assets/images/blondprofile.png" alt="">
													</p>
												</div>
											</div>
											<div class="col-md-9">
												<div class="item-content">
													<p class="name">Nickname <span>last week</span></p>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="col-md-3">
												<div class="avatar">
													<p>
														<img src="assets/images/blondprofile.png" alt="">
													</p>
												</div>
											</div>
											<div class="col-md-9">
												<div class="item-content">
													<p class="name">Nickname <span>last week</span></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row right">
										<p class="time time-2">Friday 1A14 PM</p>
										<div class="col-md-12">
											<div class="bubble">
												<p>Hey Robin! tonight? :P</p>
											</div>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-12">
											<div class="bubble-alt">
												<p>Just chillinʼ. I work only this
												weekend. Just have some days off
												for x-mas days. But thanks! ;)</p>
											</div>
										</div>
										

										<div class="col-md-12">
											<p class="read">Read Friday</p>
										</div>
										<div class="send-message-box col-md-12">
											<div class="row">
												<div class="col-md-1">
													<p><i class="md-icon md-48">tag_faces</i></p>
												</div>
												<div class="col-md-10 message-input">
													<input type="text" class="form-control" placeholder="Type a message">
												</div>
												<button class="send-message btn btn-default" type="submit">Send</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row item-list " id="booking">
							<div class="col-md-6 col-md-offset-3">
								<div class="choose-booking">
									<a href="" class="active">Active</a>
									<a href="">Archive</a>
								</div> 
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12">
								<div class="item-booking">
									<div class="col-md-1 box-1">
										<div class="avatar">
											<p>
												<img src="assets/images/blondprofile.png" alt="">
											</p>
										</div>
									</div>
									<div class="col-md-5 box-2">
										<div class="content-item-booking">
											<p class="name">Nickname <span>New request 11:00 PM</span></p>
											<p class="des">B&B Hotel , kurfurstendamm 67, Berlin 10963</p>
											<p class="des">Saturday 10 / 12 / 2016 from 22h to 23:30h</p>
										</div>
									</div>
									<div class="col-md-1 box-3 box">
											<p class="title-item-booking">Price</p>
											<p class="price-booking">€43</p>
									</div>
									<div class="col-md-1 box-4 box">
											<p class="title-item-booking">Status</p>
											<p class="status-booking"><span>Pending</span></p>
									</div>
									<div class="col-md-4 box-5 box">
										<div class="row">
											<div class="col-md-6">
												<a href="" class="button">Cancel</a>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="item-booking">
									<div class="col-md-1 box-1">
										<div class="avatar">
											<p>
												<img src="assets/images/blondprofile.png" alt="">
											</p>
										</div>
									</div>
									<div class="col-md-5 box-2">
										<div class="content-item-booking">
											<p class="name">Nickname <span>Yesterday</span></p>
											<p class="des">Obentratustr. 75, Berlin 10863</p>
											<p class="des">Saturday 10 / 12 / 2016 from 12:00h to 13:30h</p>
										</div>
									</div>
									<div class="col-md-1 box-3 box">
											<p class="title-item-booking">Price</p>
											<p class="price-booking">€105</p>
									</div>
									<div class="col-md-1 box-4 box">
											<p class="title-item-booking">Status</p>
											<p class="status-booking accepted"><span>Accepted</span></p>
									</div>
									<div class="col-md-4 box-5 box">
											<div class="row">
												<div class="col-md-6">
													<a href="" class="button">Contact</a>
												</div>
											</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="item-booking">
									<div class="col-md-1 box-1">
										<div class="avatar">
											<p>
												<img src="assets/images/blondprofile.png" alt="">
											</p>
										</div>
									</div>
									<div class="col-md-5 box-2">
										<div class="content-item-booking">
											<p class="name">Nickname <span>yesterday</span></p>
											<p class="des">Mimu Hotel , charlsstr 6, Berlin 19963</p>
											<p class="des">Saturday 10 / 12 / 2016 from 22h to 23:30h</p>
										</div>
									</div>
									<div class="col-md-1 box-3 box">
											<p class="title-item-booking">Price</p>
											<p class="price-booking">€35</p>
									</div>
									<div class="col-md-1 box-4 box">
											<p class="title-item-booking">Status</p>
											<p class="status-booking declined"><span>Declined</span><span>(in case of comment, here)</span></p>
									</div>
									<div class="col-md-4 box-5 box">
											<div class="row">
												<div class="col-md-6">
													<a href="" class="button" data-toggle="modal" data-target=".delete-box">Delete</a>
													<div class="login-box modal fade in delete-box" id="accerpt-box" role="dialog">
											    <div class="modal-dialog modal-lg">
											      <div class="modal-content">
											        <div class="item">
											        	<div class="row">
											        		<div class="col-md-2">
											        			<p class="icon"><i class="md-icon md-48">delete_forever</i></p>
											        		</div>
											        		<div class="col-md-9">
											        			<p class="title comfim-popup-box-title">ARE YOU SURE YOU WANT TO DELETE IT FOREVER?</p>
											        		</div>
											        		<div class="col-md-12">
											        			<p class="bottom-popup-booking">
											        			<a href="" class="no-cancel">No, cancel</a>
											        			<a href="" class="no-thank">Yes, delete</a></p>
											        		</div>
											        	</div>
											        	
											        </div>
											        <div data-dismiss="modal" class="close">
											     		<img src="assets/images/x.png" alt="">
											    	 </div>
											      </div>												      
											    </div>
											</div><!-- accerpt-box -->
												</div>
											</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="item-booking">
									<div class="col-md-1 box-1">
										<div class="avatar">
											<p>
												<img src="assets/images/blondprofile.png" alt="">
											</p>
										</div>
									</div>
									<div class="col-md-5 box-2">
										<div class="content-item-booking">
											<p class="name">Nickname <span>last week</span></p>
											<p class="des">B&B Hotel , kurfurstendamm 67, Berlin 10963</p>
											<p class="des">Saturday 10 / 12 / 2016 from 22h to 23:30h</p>
										</div>
									</div>
									<div class="col-md-1 box-3 box">
											<p class="title-item-booking">Price</p>
											<p class="price-booking">€75</p>
									</div>
									<div class="col-md-1 box-4 box">
											<p class="title-item-booking">Status</p>
											<p class="status-booking waiting-payment"><span>Waiting payment</span><span>(please confirm us that the services has taken place)</span></p>
									</div>
									<div class="col-md-4 box-5 box">
											<div class="row">
												<div class="col-md-6">
													<a href="" class="button" data-toggle="modal" data-target=".confirm-box">Confirm</a>
												</div>
												<div class="col-md-6">
													<p class="text-booking-more">
														<span>2n Remeinder!</span>
														<span><a href="">..more info</a></span>
													</p>
												</div>
												<div class="login-box modal fade in confirm-box" id="accerpt-box" role="dialog">
											    <div class="modal-dialog modal-lg">
											      <div class="modal-content">
											        <div class="item">
											        	<div class="row">
											        		<div class="col-md-3">
											        			<p class="icon"><i class="md-icon md-48">warning</i></p>
											        		</div>
											        		<div class="col-md-8">
											        			<p class="title">NICKNAME IS WAITING FOR THE PAYMENT! PLEASE, CONFIRM.</p>
											        			<p class="des">In case that the service did not take place please contact us. If we do not hear anything about you within 3 days the payment will proceed automatically.</p>

											        			<p class="bottom-popup-booking bottom-popup-confirm">
											        				<a href="" class="contact">Contact us</a>
											        				<button type="submit" data-toggle="modal" data-target=".comfim-popup-box">Confirm</button>
											        			</p>
											        		</div>
											        	</div>
											        	
											        </div>
											        <div data-dismiss="modal" class="close">
											     		<img src="assets/images/x.png" alt="">
											    	 </div>
											      </div>												      
											    </div>
											</div><!-- accerpt-box -->
											<div class="login-box modal fade in comfim-popup-box" id="accerpt-box" role="dialog">
											    <div class="modal-dialog modal-lg">
											      <div class="modal-content">
											        <div class="item">
											        	<div class="row">
											        		<div class="col-md-3">
											        			<p class="icon"><i class="md-icon md-48">done</i></p>
											        		</div>
											        		<div class="col-md-8">
											        			<p class="title comfim-popup-box-title">THE TRANSFER HAS BEEN DONE CORRECTLY</p>
											
											        			<p class="title">RATE THE SERVICE</p>
											        			<p class="star">
												        			<span>
												        				<i class="no-active md-icon md-48">star_border</i>
												        				<i class="active hide md-icon md-48">star</i>
												        			</span>
												        			<span>
												        				<i class="no-active md-icon md-48">star_border</i>
												        				<i class="active hide md-icon md-48">star</i>
												        			</span>
												        			<span>
												        				<i class="no-active md-icon md-48">star_border</i>
												        				<i class="active hide md-icon md-48">star</i>
												        			</span>
												        			<span>
												        				<i class="no-active md-icon md-48">star_border</i>
												        				<i class="active hide md-icon md-48">star</i>
												        			</span>
												        			<span>
												        				<i class="no-active md-icon md-48">star_border</i>
												        				<i class="active hide md-icon md-48">star</i>
												        			</span>
												        		</p>
											        			<p class="bottom-popup-booking"><a href="" class="no-thank">No. Thank You</a></p>
											        		</div>
											        	</div>
											        	
											        </div>
											        <div data-dismiss="modal" class="close">
											     		<img src="assets/images/x.png" alt="">
											    	 </div>
											      </div>												      
											    </div>
											</div><!-- accerpt-box -->
											</div>
									</div>
								</div>
								<div class="item-booking">
									<div class="col-md-1 box-1">
										<div class="avatar">
											<p>
												<img src="assets/images/blondprofile.png" alt="">
											</p>
										</div>
									</div>
									<div class="col-md-5 box-2">
										<div class="content-item-booking">
											<p class="name">Nickname <span>last week</span></p>
											<p class="des">B&B Hotel , kurfurstendamm 67, Berlin 10963</p>
											<p class="des">Saturday 10 / 12 / 2016 from 22h to 23:30h</p>
										</div>
									</div>
									<div class="col-md-1 box-3 box">
											<p class="title-item-booking">Price</p>
											<p class="price-booking">€75</p>
									</div>
									<div class="col-md-1 box-4 box">
											<p class="title-item-booking">Status</p>
											<p class="status-booking waiting-payment"><span>Paied</span></p>
									</div>
									<div class="col-md-4 box-5 box">
											<div class="row">
												<div class="col-md-6">
													<a href="" class="button">Archive</a>
												</div>
												<div class="col-md-6">
													<a href="" class="button">Remove</a>
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>