<h2>Edit profile</h2>
											     	<div class="form-login">
											     		<form action="" action="" (ngSubmit)="editProfessionalSend()" #editProfessionalForm="ngForm">
												     		<div class="form-group">
												     			<label class="title_edit_page b-title" for="">Nickname</label>
												     			<input type="text" placeholder="name" class="form-control"  [(ngModel)]="model.nickname" name="nickname" #name="ngModel">
												     		</div>
												     		<!-- new-code -->
															<div class="form-group">
												     			<label class="title_edit_page b-title" for="">Age</label>
												     			<div class="row gender">
												     				<div class="form-group form_age">
												     					<div class="col-md-4">
													     					<input type="checkbox" id="show" name="ageShow" value="{{model.genderShow}}"
																						[(ngModel)]="model.genderShow">  <label for="show">Show</label>
													     				</div>
												     				</div>
												     				
												     			</div>
												     		</div>
												     		<!-- end new-code -->
												     		<div class="form-group">
												     			<label class="title_edit_page b-title" for="">Location</label>
												     			<!--<input type="text" id="location2" placeholder="Enter your location" name="address2" class="form-control" [(ngModel)] = "address2" ng2-google-place-autocomplete> -->
																 <input type="text" class="form-control map-pointer" ng2-google-place-autocomplete />
												     		</div>
												     		<div class="form-group">
												     			<label class="title_edit_page b-title" for="">Gender</label>
												     			<div class="row gender">
												     				<div class="form-group">
												     					<div class="col-md-4"  *ngFor="let option of optionsGender"> 
																			<input type="checkbox" id="{{option.name}}" name="optionsGender" value="{{option.value}}"
																						[(ngModel)]="option.checked"> <label for="{{option.name}}"> {{option.name}}</label>
																		</div> 
												     				</div>
												     			</div>
												     		</div>
												     		<!-- new-code -->
												     		<div class="form-group">
												     			<label class="title_edit_page" for="" style="color:#4b4b4b; font-weight: 700;">Work days</label>
												     			<div class="row gender">
												     				<div class="form-group form_work">
													     				<div class="col-md-2 col-hire" *ngFor="let option of optionsWorkingDays">
													     					<input type="checkbox" id="{{option.name}}" name="optionsWorkingDays" value="{{option.value}}"
																						[(ngModel)]="option.checked"> <label for="{{option.name}}"> {{option.name}}</label>
													     				</div>													     				
																						
												     				</div>
												     				
												     			</div>
												     		</div>
												     		<div class="form-group clearfix">
												     			<label class="title_edit_page b-title" for="" >Work hours</label><br>
												     			<label for="" style="float:left; margin-top: 10px; margin-right: 10px;">From</label><input type="text" class="form-control" style="width:50px;float:left"> 
												     			<label for="" style="float:left; margin-top: 10px; margin-right: 10px; margin-left: 10px">To</label><input type="text" class="form-control" style="width:50px;float:left"> 
												     			<button type="submit" class="add_time">+ add time slot</button>
												     		</div>
												     		<!-- end new-code -->
												     		<div class="form-group">
												     			<label class="title_edit_page b-title" for="">About</label>
												     			<textarea name="" id="" rows="7" class="form-control" placeholder="Enter a short description about you" [(ngModel)]="model.about" name="about" #name="ngModel"></textarea>
												     		</div>
												     		<!-- new-code -->
												     		<div class="form-group">
												     			<label class="title_edit_page b-title" for="">Service</label>
												     			<textarea name="" id="" rows="7" class="form-control" placeholder="List the services you are offering" [(ngModel)]="model.serviceList" name="serviceList" #name="ngModel"></textarea>
												     		</div>
												     		<!-- end new-code -->
												     		<div class="form-group button-form">
												     			<button type="submit">Done</button>
												     		</div>
												     	</form>
											     	</div>
											     	<div data-dismiss="modal" class="close">
											     		<img src="assets/images/x.png" alt="">
											     	</div>