.currency-container{
    padding-left:0px;
}
#professional-currency-dropdown{
    font-size: 16px;
    height:25px;
}

.profesional-rate-container{

}
.proffesional-work-rate{
    padding-left: 0px;
}