.currency-container{
    padding-left:0px;
}
#professional-currency-dropdown{
    font-size: 16px;
    width:90px;
    height:25px;
}
#professional-hourly-rate{
    width:90px;
    height:25px;
    font-size: 16px;
}
.profesional-rate-container{
padding-left: 0px;
}
.proffesional-work-rate{
    padding-left: 0px;
}
.timeslot-btn{
    min-width: 170px !important; 
}
.pad-lt-rt-10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.inputStyle{
    height: 51px!important;
    font-family: SFNS Display !important;
    font-size: 20px !important;
    padding: 10px 10px !important;
}
.d-inline-box{
    display: -webkit-inline-box;
}
.errorMsgPadding{
    padding-bottom: 15px;
}