<h2>{{ 'loginTitle' | translate }}</h2>
<div class="error_message" id="login_error">

</div>
<div class="form-login">
    <form id="login_form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
		<input type="text" placeholder="Email" class="login_username form-control" required
               [(ngModel)]="model.username" name="name"
               #name="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (ngModelChange)="onChangeInput()" />
		<div class="alert alert-danger text-left" *ngIf="!name.pristine && name.errors && name.errors.required">
          Email is required
        </div>
        <div class="alert alert-danger text-left" *ngIf="name.errors && name.errors.pattern">
            Email is invalid
        </div>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" class="login_password form-control" required
               [(ngModel)]="model.password" name="pwd"
               #pwd="ngModel"/> 
            <div class="alert alert-danger text-left" *ngIf="!pwd.pristine && pwd.errors && pwd.errors.required">
              Password is required
            </div>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!loginForm.form.valid || submitted" [ngClass]="{'btn-active':loginForm.form.valid || !submitted , 'btn-inactive':!loginForm.form.valid || submitted }" >{{ 'loginBtn' | translate }}</button>
        </div>
		<div *ngIf="submitted"> Logging in.....<img class="imageLoader" src="assets/images/loader.gif" ></div>
		<div *ngIf="errorMessage !== ''"> {{errorMessage}}</div>	
    </form>
</div>
<p><a href="">Forgot password? We can help!</a></p>
<div class="close" data-dismiss="modal">
    <img src="assets/images/x.png" alt="" />
</div>

