<div id="wrapper">
		<div class="container">
			<header>
				<div class="header">
						<a href="" class="logo">one+</a>
						<ul class="main-menu">
							<li>
								<a href="" class="active">home</a>
							</li>
							<li>
								<a href="#about_us">about us</a>
							</li>
							<li>
								<a href="" data-toggle="modal" data-target=".just-box" class="login-button">login</a>
								<div id="login-box" class="modal fade login-box login_box login-modal-box just-box" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
								  <div class="modal-dialog modal-smd" role="document">
								    <div class="modal-content">
								     	<app-login></app-login>
								    </div>
								  </div>
								</div>
							</li>
							<li>
								<a data-toggle="modal" data-target=".signup-box" class="login-button" href="">sign up</a>
								<div id="signup-box" class="modal fade login-box signup-box signup-modal-box change-profile-box" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
								  <div class="modal-dialog modal-smd" role="document">
								    <div class="modal-content">
										<app-signup></app-signup>
								    </div>
								  </div>
								</div>
							</li>
							<li>
								<a href="">contact us</a>
							</li>
						</ul>
				</div>
			</header>
			<div class="wrapper-content">
				<div class="banner">
					<h2>welcome to one+</h2>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry <br>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s <br>
						when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</p>
					<a href="">Get started</a>
				</div>
			</div>
		</div>
		<div class="container-content">
			<div class="daily-grind">
				<div class="container" id="about_us">
					<h2>one+ helps you escapse</h2>
					<h2>the daily grind</h2>
					<div class="daily-grind row">
						<div class="col-md-4">
							<div class="image">
								<a href=""><i class="md-icon md-48">important_devices</i></a>
							</div>
							<p class="title-item">
								<a href="">easy to use</a>
							</p>
							<p class="des">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry
							</p>
						</div>
						<div class="col-md-4">
							<div class="image">
								<a href=""><i class="md-icon md-48">security</i></a>
							</div>
							<p class="title-item">
								<a href="">confidential</a>
							</p>
							<p class="des">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry
							</p>
						</div>
						<div class="col-md-4">
							<div class="image">
								<a href=""><i class="md-icon md-48">supervisor_account</i></a>
							</div>
							<p class="title-item">
								<a href="">ethical</a>
							</p>
							<p class="des">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="touch">
				<div class="container">
					<h2>We put people in touch</h2>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry <br>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s 
					</p>
					<div class="main-touch row">
						<div class="col-md-5 item">
							<div class="image">
								<a href=""><i class="md-icon md-48">contact_mail</i></a>
							</div>
							<div class="content-touch">
								<p class="title"><a href="">Platform for professionals and costumers</a></p>
								<p class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							</div>
						</div>
						<div class="col-md-5 item">
							<div class="image">
								<a href=""><i class="md-icon md-48">event</i></a>
							</div>
							<div class="content-touch">
								<p class="title"><a href="">Manage yours service easily</a></p>
								<p class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							</div>
						</div>
					</div>
					<div class="main-touch row">
						<div class="col-md-5 item">
							<div class="image">
								<a href=""><i class="md-icon md-48">credit_card</i></a>
							</div>
							<div class="content-touch">
								<p class="title"><a href="">Confortable and secure payment</a></p>
								<p class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							</div>
						</div>
						<div class="col-md-5 item">
							<div class="image">
								<a href=""><i class="md-icon md-48">move_to_inbox</i></a>
							</div>
							<div class="content-touch">
								<p class="title"><a href="">Easy booking</a></p>
								<p class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-image">
				<img src="assets/images/image.jpg" alt=""/>
			</div>
            <app-subscribe></app-subscribe>
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-1">
						<a href="" class="logo">one+</a>
					</div>
					<div class="col-md-2">
						<p class="title-item-footer">product</p>
						<ul>
							<li><a href="">Product for iOS</a></li>
							<li><a href="">Product for Android</a></li>
							<li><a href="">Product for Windows</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<p class="title-item-footer">company</p>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Our Team</a></li>
							<li><a href="">Jobs</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<p class="title-item-footer">Documention</p>
						<ul>
							<li><a href="">Product Help</a></li>
							<li><a href="">Develper API</a></li>
							<li><a href="">Product Markdown</a></li>
						</ul>
					</div>
					<div class="col-md-3 pull-right">
						<p class="title-item-footer">find us</p>
						<ul class="social">
							<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<div class="bottom">
			<div class="container">
				<span>Copyright 2016 ONE+</span>
				<span class="back-top">Back To Top</span>
			</div>
		</div>
	</div>