<div class="stay-in-touch">
				<div class="container">
					<h2>stay in touch</h2>
					<p>Subscribe for Email  Updates on News</p>
					<form (ngSubmit)="onSubmit()" #subscribeForm="ngForm">
						<div class="col-md-4 col-md-offset-3">
							<input type="text" placeholder="Email your email here.." class="email form-control" required [(ngModel)]="model.email" name="email"
                                                    #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (ngModelChange)="onChangeEmailSubcrbibeInp()"/>
								<!--<div class="alert-danger" *ngIf="!email.pristine && email.errors && email.errors.required">
								  Email is required
								</div>
								<div class="alert-danger" *ngIf="email.errors && email.errors.pattern">
									Email is invalid
								</div>-->
						</div>
						
						<div class="col-md-2">
							<button type="submit" [disabled]="!subscribeForm.form.valid || submitted" [ngClass]="{'btn-active':subscribeForm.form.valid || !submitted , 'btn-inactive':!subscribeForm.form.valid || submitted }" class="form-control btn">Subscribe</button>
							
						</div>
						<div class="col-md-4 col-md-offset-3 mt10 emailSubscribeSucessTxt text-success" *ngIf="isEmailSubscribed">Your Email has been subscribed</div>
						<div class="col-md-4 col-md-offset-3 mt10 emailSubscribeSucessTxt text-danger" *ngIf="isEmailSubscribedError">Your Email is already exist</div>
						
					</form>
					
				</div>
</div>